# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab_03_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Superstore Data Dictionary

 ORDER VARIABLES:
 - Order ID
 - Order Date
 - Order Year Month - Year and month of the order
 - Order Type - Was the order completed at a store or online? (Retail, Online)
 - Quantity - Quantity ordered for the product

 CUSTOMER VARIABLES:
 - Customer Name
 - City
 - State Province
 - Email

PRODUCT VARIABLES:
 - Product Name
 - Product Line - Category of the product (i.e. Bikes Phones)
 - Product Price - Price in US Dollars
 - Product Status - Current status of the product (Active, Inactive)

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

In [85]:
df = pd.read_csv('superstore_retail_orders.csv')
print(df)

       order_id  order_date order_year_month     customer_name  \
0         51188  2023-07-01          2023-07     Audrey Blanco
1         51187  2023-07-01          2023-07       Isaac Allen
2         51199  2023-07-02          2023-07        Ian Morgan
3         51241  2023-07-04          2023-07        Alexa Bell
4         51297  2023-07-08          2023-07        Casey Diaz
...         ...         ...              ...               ...
56038     74084  2024-06-29          2024-06        Ian Rogers
56039     74062  2024-06-29          2024-06   Marcus Anderson
56040     74065  2024-06-29          2024-06  Nathaniel Howard
56041     74038  2024-06-29          2024-06        Robin Sanz
56042     74110  2024-06-30          2024-06   Mallory Jimenez

                    city state_province                       email  \
0      North Cherylmouth  New Hampshire     audrey_blanco@email.com
1             Traceyland  West Virginia       isaac_allen@email.com
2              Dylanberg   South Dakota        ian_morgan@email.com
3         Lake Tracytown      Wisconsin        alexa_bell@email.com
4            Byrdchester    Mississippi        casey_diaz@email.com
...                  ...            ...                         ...
56038          Port Mark        Alabama        ian_rogers@email.com
56039     West Aprilfurt       Nebraska   marcus_anderson@email.com
56040      New Lindaview       Illinois  nathaniel_howard@email.com
56041    West Frankhaven       Arkansas        robin_sanz@email.com
56042        Dillonhaven       Maryland   mallory_jimenez@email.com

      order_type  quantity                                       product_name  \
0         Retail       3.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
1         Online       4.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
2         Online       5.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
3         Online       1.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
4         Online       1.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
...          ...       ...                                                ...
56038     Retail       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
56039     Retail       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
56040     Online       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
56041     Retail       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
56042     Retail       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...

      product_line  product_price product_status
0           Mobile         649.99         Active
1           Mobile         649.99         Active
2           Mobile         649.99         Active
3           Mobile         649.99         Active
4           Mobile         649.99         Active
...            ...            ...            ...
56038  Electronics         914.62         Active
56039  Electronics         914.62         Active
56040  Electronics         914.62         Active
56041  Electronics         914.62         Active
56042  Electronics         914.62         Active

[56043 rows x 13 columns]

## Prepare Data

➡️ Assignment Tasks
- Create a "revenue" variable and make sure it is a numeric datatype
- Remove rows with empty (NULL) values
- Locate outliers in at least two of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [86]:
#create revenue var
df['revenue'] = df['quantity'] * df['product_price']

#remove null rows
df = df.dropna()

#filter outliers
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce').dt.year
df_filtered = df[(df['order_date'] >= 2022) & (df['order_date'] <= 2024)]
df_filtered.head()

<ipython-input-86-75f51be37a1e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce').dt.year

,order_id,order_date,order_year_month,customer_name,city,state_province,email,order_type,quantity,product_name,product_line,product_price,product_status,revenue
0,51188,2023.0,2023-07,Audrey Blanco,North Cherylmouth,New Hampshire,audrey_blanco@email.com,Retail,3.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,1949.97
1,51187,2023.0,2023-07,Isaac Allen,Traceyland,West Virginia,isaac_allen@email.com,Online,4.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,2599.96
2,51199,2023.0,2023-07,Ian Morgan,Dylanberg,South Dakota,ian_morgan@email.com,Online,5.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,3249.95
3,51241,2023.0,2023-07,Alexa Bell,Lake Tracytown,Wisconsin,alexa_bell@email.com,Online,1.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,649.99
4,51297,2023.0,2023-07,Casey Diaz,Byrdchester,Mississippi,casey_diaz@email.com,Online,1.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,649.99

## Summarize Data

➡️ Assignment Tasks
- Display the average price per product line
- Display the total revenue for all months

In [87]:
#average price
df.groupby('product_line')['product_price'].mean()

product_line
Accessories          11.531647
Bikes              1821.807035
Cameras             779.174673
Clothing          48943.949314
Electronics         693.973186
Laptop             3578.270000
Mobile             1013.581162
OfficeProducts        8.640000
Projector          3386.564074
Name: product_price, dtype: float64

In [88]:
#total revenue
df.groupby('order_year_month')['revenue'].sum()

order_year_month
1922-06      979636.00
2022-01     4746737.16
2022-02      500428.41
2022-03      708048.28
2022-04      653364.08
2022-05      659325.94
2022-06      637784.29
2022-07      486114.93
2022-08      533572.11
2022-09      341266.49
2022-10      404276.65
2022-11      306453.60
2022-12      560965.27
2023-01      432425.86
2023-02      459752.28
2023-03      469912.92
2023-04      492886.16
2023-05      539365.40
2023-06      529704.69
2023-07    10495300.14
2023-08    47232524.31
2023-09    50614963.75
2023-10    53117217.85
2023-11    50196883.14
2023-12    59182870.87
2024-01    57744443.81
2024-02    57700422.24
2024-03    57460241.29
2024-04    63213208.20
2024-05    73469869.94
2024-06    67964592.02
2029-06          19.55
2029-07      517505.48
2029-08          39.94
2421-09       32051.29
Name: revenue, dtype: float64