# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab_03_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Superstore Data Dictionary

 ORDER VARIABLES:
 - Order ID
 - Order Date
 - Order Year Month - Year and month of the order
 - Order Type - Was the order completed at a store or online? (Retail, Online)
 - Quantity - Quantity ordered for the product

 CUSTOMER VARIABLES:
 - Customer Name
 - City
 - State Province
 - Email

PRODUCT VARIABLES:
 - Product Name
 - Product Line - Category of the product (i.e. Bikes Phones)
 - Product Price - Price in US Dollars
 - Product Status - Current status of the product (Active, Inactive)

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [2]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

In [5]:
df = pd.read_csv('https://github.com/Stan-Pugsley/is_4487_base/blob/main/Labs/DataSets/superstore_retail_orders.csv?raw=true')
print(df)

       order_id  order_date order_year_month     customer_name  \
0         51188  2023-07-01          2023-07     Audrey Blanco
1         51187  2023-07-01          2023-07       Isaac Allen
2         51199  2023-07-02          2023-07        Ian Morgan
3         51241  2023-07-04          2023-07        Alexa Bell
4         51297  2023-07-08          2023-07        Casey Diaz
...         ...         ...              ...               ...
56038     74084  2024-06-29          2024-06        Ian Rogers
56039     74062  2024-06-29          2024-06   Marcus Anderson
56040     74065  2024-06-29          2024-06  Nathaniel Howard
56041     74038  2024-06-29          2024-06        Robin Sanz
56042     74110  2024-06-30          2024-06   Mallory Jimenez

                    city state_province                       email  \
0      North Cherylmouth  New Hampshire     audrey_blanco@email.com
1             Traceyland  West Virginia       isaac_allen@email.com
2              Dylanberg   South Dakota        ian_morgan@email.com
3         Lake Tracytown      Wisconsin        alexa_bell@email.com
4            Byrdchester    Mississippi        casey_diaz@email.com
...                  ...            ...                         ...
56038          Port Mark        Alabama        ian_rogers@email.com
56039     West Aprilfurt       Nebraska   marcus_anderson@email.com
56040      New Lindaview       Illinois  nathaniel_howard@email.com
56041    West Frankhaven       Arkansas        robin_sanz@email.com
56042        Dillonhaven       Maryland   mallory_jimenez@email.com

      order_type  quantity                                       product_name  \
0         Retail       3.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
1         Online       4.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
2         Online       5.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
3         Online       1.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
4         Online       1.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
...          ...       ...                                                ...
56038     Retail       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
56039     Retail       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
56040     Online       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
56041     Retail       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
56042     Retail       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...

      product_line  product_price product_status
0           Mobile         649.99         Active
1           Mobile         649.99         Active
2           Mobile         649.99         Active
3           Mobile         649.99         Active
4           Mobile         649.99         Active
...            ...            ...            ...
56038  Electronics         914.62         Active
56039  Electronics         914.62         Active
56040  Electronics         914.62         Active
56041  Electronics         914.62         Active
56042  Electronics         914.62         Active

[56043 rows x 13 columns]

## Prepare Data

➡️ Assignment Tasks
- Create a "revenue" variable and make sure it is a numeric datatype
- Remove rows with empty (NULL) values
- Locate outliers in at least two of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [7]:
#Create "revenue" var
df['revenue'] = df['quantity'] * df['product_price']

#Remove NULL rows
df_clean = df.dropna()


#Locate outliers in price
def detect_outliers_iqr(data):
    q1 = np.percentile(data, 25)
    q3 = np.percentile(data, 75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    outliers = np.where((data < lower_bound) | (data > upper_bound))[0]
    return outliers


price_outliers = detect_outliers_iqr(df_clean['product_price'])

df_filtered = df_clean.drop(df_clean.index[price_outliers])

#convert order_year_month
df['order_date'] = pd.to_datetime(df['order_date']).dt.year
df_filteredfin = df[(df['order_date'] <= 1922) & (df['order_date'] >= 2421)]
df_filteredfin.head()

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 2421-09-12, at position 370. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

## Summarize Data

➡️ Assignment Tasks
- Display the average price per product line
- Display the total revenue for all months

In [30]:
#average price
avg_price = df_ultfiltered.groupby('product_line')['product_price'].mean().round(2)
print(avg_price)

product_line
Accessories         11.53
Bikes             1694.67
Cameras            735.84
Clothing           237.56
Electronics        693.96
Laptop            3578.27
Mobile            1014.05
OfficeProducts       8.64
Projector         3374.99
Name: product_price, dtype: float64

In [31]:
#total revenue
total_rev = df_ultfiltered.groupby('order_year_month')['revenue'].sum().round(2)
print(total_rev)

order_year_month
1922-06      30559.79
2022-01      41998.32
2022-02      15259.69
2022-03      13982.00
2022-04      16778.40
2022-05      16778.40
2022-06      19574.80
2022-07     343534.28
2022-08     385412.70
2022-09     265522.64
2022-10     328532.80
2022-11     233153.10
2022-12     490108.12
2023-01     349351.96
2023-02     366904.98
2023-03     386839.02
2023-04     429359.06
2023-05     480725.00
2023-06     449074.14
2023-07    3103087.57
2023-08    1677180.30
2023-09    1736433.11
2023-10    1819621.25
2023-11    1946235.12
2023-12    2551542.14
2024-01    2124518.90
2024-02    2068918.77
2024-03    2298819.19
2024-04    2350829.40
2024-05    2710023.00
2024-06    2620694.15
2029-06         19.55
2029-07      41775.34
2029-08         39.94
2421-09      32051.29
Name: revenue, dtype: float64